<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Proyecto</display-name>
  <welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/poolTiendaJuegosDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	
	<!-- Servlet login -->
	<servlet>
		<servlet-name>ServletLogin</servlet-name>
		<servlet-class>servlets.ServletLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletLogin</servlet-name>
		<url-pattern>/ServletLogin</url-pattern>
	</servlet-mapping>

	<!-- Servlet registro -->
	<servlet>
		<servlet-name>ServletRegistro</servlet-name>
		<servlet-class>servlets.ServletRegistro</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletRegistro</servlet-name>
		<url-pattern>/ServletRegistro</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet compañias -->
	<servlet>
		<servlet-name>ServletCompanias</servlet-name>
		<servlet-class>servlets.ServletCompanias</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletCompanias</servlet-name>
		<url-pattern>/ServletCompanias</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet lisatdo usuarios -->
	<servlet>
		<servlet-name>ServletUsuarios</servlet-name>
		<servlet-class>servlets.ServletUsuarios</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletUsuarios</servlet-name>
		<url-pattern>/ServletUsuarios</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet perfil de usuarios -->
	<servlet>
		<servlet-name>ServletPerfilUsuario</servlet-name>
		<servlet-class>servlets.ServletPerfilUsuario</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletPerfilUsuario</servlet-name>
		<url-pattern>/ServletPerfilUsuario</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet Productos -->
	<servlet>
		<servlet-name>ServletProductos</servlet-name>
		<servlet-class>servlets.ServletProductos</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletProductos</servlet-name>
		<url-pattern>/ServletProductos</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet Detalles Compra -->
	<servlet>
		<servlet-name>ServletDetallesCompra</servlet-name>
		<servlet-class>servlets.ServletDetallesCompra</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletDetallesCompra</servlet-name>
		<url-pattern>/ServletDetallesCompra</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet Detalles Compra -->
	<servlet>
		<servlet-name>ServletAgregarLineaPedidos</servlet-name>
		<servlet-class>servlets.ServletAgregarLineaPedidos</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletAgregarLineaPedidos</servlet-name>
		<url-pattern>/ServletAgregarLineaPedidos</url-pattern>
	</servlet-mapping>
</web-app>